/**
 * AUTHOR: Tiffany Wong
 */

[minilessonPanel] {
  margin: 10px;
  width: 300px;
  margin-left: 0px;
  margin-top: 20px;
}

[minilessonPanel] [header] {
  height: 46px;
  color: white;
  background-color: #4285F4;
}

[minilessonPanel] [header] [title] {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  text-transform: uppercase;
}

[minilessonPanel] [header] [toolbar-button] {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[minilessonPanel] [lesson-item] {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

[minilessonPanel] [lesson-item]:last-of-type {
  border-bottom: none;
}

[lesson-item] [name] {
  font-size: 15px;
  margin-bottom: 10px;
  color: black;
}
[lesson-item]:hover {
  background-color: LightGrey;
}
[lesson-item] strong {
  white-space: nowrap;
}


#lesson-add-dialog [form] {
  width: 300px;
}
