/**
 * AUTHOR: Tiffany Wong
 */

[minilesson-list] {
  width: 350px;
}

[minilesson-list] [header] {
  height: 46px;
  color: white;
  background-color: #4285F4;
}

[minilesson-list] [header] [title] {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  text-transform: uppercase;
}

[minilesson-list] [header] [toolbar-button] {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
}

[minilesson-list] [content] {
  overflow-y: auto;
}

[minilesson-list] [minilesson-item] {
  padding: 16px 14px 16px 16px;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

[minilesson-list] [minilesson-item]:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

[minilesson-list] [minilesson-item][active] {
  border-right: 4px solid rgb(114, 192, 44);
}

[minilesson-item] [name] {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}

[minilesson-item] [due-date] {
  font-size: 12px;
  color: black;
}

[contentPanel] {
  margin: 20px;
}

[contentPanel] [progress-bar] {
  border-color: #4285F4;
  border-style: solid;
  height: 46px;
  border-radius: 25px;
  background-color: LightGray;

}

[contentPanel] [progress-bar-cell] {
  border-radius: 25px;
}

[contentPanel] [done] {
  content: url(http://www.clipartbest.com/cliparts/dT6/okx/dT6okxEbc.png);
}

[contentPanel] [current] {
  background-color: #4285F4;
}

[contentPanel] [questionPanel] {
  height: 100px;
  border-radius: 25px;
  border-color: #4285F4;
  border-style: solid;
  margin-top: 25px;
  margin-bottom: 0px;
}

#minilesson-add-dialog [form] {
  width: 300px;
}
