/**
 * AUTHOR: Akash Krishnan <ak@aakay.net>
 */

/* ---------- CUSTOM SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0.065);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:vertical:active {
  background: #4285F4;
}

/* ---------------- OTHER ---------------- */

body {
  color: rgba(0, 0, 0, 0.870588);
  background-color: #F2F2F2;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; /* OS X subpixel AA bleed bug */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

div[masthead] {
  position: relative;
  height: 46px;
  color: #FFFFFF;
  background-color: #4285F4;
}

[masthead] [name] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 24px;
}

[masthead] [tab] {
  position: relative;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
}

[masthead] [tab] [underline] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}

[masthead] [tab]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

[masthead] [tab][active] [underline] {
  background-color: rgb(114, 192, 44);
}

[no-select] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body > [content] {
  position: absolute;
  top: 46px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow-y: auto;
}

body > [content] > [container] {
  max-width: 1280px;
}

[button] {
  line-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[button][small] {
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}

[button][red] {
  color: white;
  background-color: rgb(211, 72, 54);
}

[button][green] {
  color: white;
  background-color: rgb(114, 192, 44);
}

[button][blue] {
  color: white;
  background-color: #4285F4;
}

[hoverable]:hover {
  background-color: rgb(211, 72, 54);
}
